<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1054208800212-l8p1p7c7h683t5f3k8s1uhniifirljtr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1054208800212-l8p1p7c7h683t5f3k8s1uhniifirljtr</string>
	<key>API_KEY</key>
	<string>AIzaSyDZkHPSRhCOqIa-BwviiwdqCDgHDTEvwBA</string>
	<key>GCM_SENDER_ID</key>
	<string>1054208800212</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>realai.photo.generator</string>
	<key>PROJECT_ID</key>
	<string>real-ai-2be5d</string>
	<key>STORAGE_BUCKET</key>
	<string>real-ai-2be5d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1054208800212:ios:0528795483fbd99bf2d241</string>
</dict>
</plist>